# Xcode
.DS_Store
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.build/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved

# Build artifacts
xcframework/
*.zip

# Temporary files
*.log
*.tmp
